<div class="container py-3">
  <section class="properties-stats card bg-light">
    <div class="card-body">
      <h5 class="card-title">Properties Stats</h5>
      <p class="card-text">
        Properties listed: <%= Property.where(approved: true).count %>
      </p>
      <p class="card-text">
        Properties sold: <%= Property.where(sold: true).count %>
      </p>
    </div>
  </section>
  <section class="visitors-stats card bg-light mt-3">
    <div class="card-body">
      <h5 class="card-title">Visitors Stats</h5>
      <p class="card-text">
        Visitors count: <%= Visitor.visitors_count %>
      </p>
    </div>
  </section>
</div>