<% provide(:title, "About") %>
<% provide(:about_page_active_status, "active") %>
<h1>About</h1>
<p>
  CommonfloorClone is place where real estate properties can be shown for buying,
  renting and selling.
</p>
