<% provide(:title, "Contact") %>
<% provide(:contact_page_active_status, "active") %>
<h1>Contact</h1>
<p>
  You can contact us on our helping number, 1234-1234-1234. You can also email
  us directly at support@commonfloorclone.com
</p>
