<% provide(:title, "Help") %>
<% provide(:help_page_active_status, "active") %>
<h1>Help</h1>
<p>
  Welcome to the help page. Here you can find answers to some of the common
  problems faced by our user. In case your problem is not listed here, kindly
  visit the Contact page to contact us directly.
</p>
