<% provide(:home_page_active_status, "active") %>
<div class="jumbotron text-center">
  <h3>
    Welcome to CommonfloorClone. Here you can buy/sale/rent properties in India.
  </h3>
</div>

<% if @apartments.any? %>
  <%= render 'home_page_properties', properties:    @apartments,
                                     property_type: "apartment" %>
<% end %>

<% if @houses.any? %>
  <%= render 'home_page_properties', properties:    @houses,
                                     property_type: "house" %>
<% end %>

<% if @plots.any? %>
  <%= render 'home_page_properties', properties:    @plots,
                                     property_type: "plot" %>
<% end %>