<div class="jumbotron text-center">
  <h1>CommonfloorClone</h1>
  <h2>
    Welcome to CommonfloorClone. Here you can buy/sale/rent properties in India.
  </h2>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-success" %>
</div>