<% provide(:title, 'Sign up') %>
<% provide(:signup_page_active_status, "active") %>
<% provide(:button_text, 'Create my account') %>
<% provide(:form_action_url, signup_path) %>
<h1 class="text-center">Sign up</h1>
<div class="row">
  <div class="col-md-6 offset-md-3">
    <%= render 'form' %>
    <p class="my-3">
      Already registered? <%= link_to "Log in now!", login_path %>
    </p>
  </div>
</div>