<% provide(:title, @user.name) %>
<% provide(:filters_form_url, user_path(@user)) %>
<aside class="user-info card border-success mb-3">
  <h5 class="card-header">
    <%= gravatar_for @user %>
    <%= @user.name %>
  </h5>
</aside>
<% if @user.seller? %>
  <%= render 'shared/properties' %>
<% end %>