<% provide(:title, @user.name) %>
<% provide(:filters_form_url, user_path(@user)) %>
<aside class="user_info">
  <h4 class="text-secondary border-bottom border-success py-2 mb-3">
    <%= gravatar_for @user %>
    Welcome to CommonfloorClone, <%= @user.name %>
  </h4>
</aside>
<% if @user.properties.any? %>
  <%= render 'shared/properties' %>
<% end %>