<section>
  <h2 class="text-center mb-3"><%= @title %></h2>
  <div class="row">
    <aside class="filters col-md-4 col-lg-3">
      <%= render 'shared/filters' %>
    </aside>
    <section class="col-md-8 col-lg-9">
      <% if @properties.any? %>
        <div class="row">
          <%= render @properties %>
        </div>
        <%= will_paginate(@properties,
                          renderer: WillPaginate::ActionView::Bootstrap4LinkRenderer) %>
      <% else %>
        <p>No properties found!</p>
      <% end %>
    </section>
  </div>
</section>