<div>
  <%= link_to "/auth/google_oauth2",
              class: "btn btn-block btn-outline-success rounded-pill" do %>
    <%= icon 'fab', 'google', 'Continue with Google'%>
  <% end %>
  <%= link_to "/auth/facebook",
              class: "btn btn-block btn-outline-success rounded-pill mt-3" do %>
    <%= icon 'fab', 'facebook-square', 'Continue with Facebook'%>
  <% end %>
</div>