/* mixins, variables, etc. */

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

/* miscellaneous */

.debug_dump {
  width: 100%;
  margin-top: 20px;
  @include box_sizing;
  padding: 10px;
  background-color: $gray-100;
  border: 1px solid $gray-400;
  border-radius: 4px;
}

/* Site layout */
body {
  padding-top: 60px;
}

/* forms */

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 20px 0;
  }
}

.field_with_errors {
  .form-control {
    border-color: $danger;
    color: $danger;
  }
}